<!-- bottom.tmpl -->
<footer>
    Copyright &#169; Cornell Laboratory for Accelerator-based Sciences and Education
    Supported by: <img src="{{.Base}}/images/nsf_logo.png" alt="NSF" width="30">
</footer>

</body>
</html>
<!-- end of bottom.tmpl -->
